<h1><%= @artist.name %></h1>

<%= link_to "New Song", new_artist_song_path(@artist) %>

<ul>
  <% @artist.songs.each do |song| %>
    <li><%= link_to song.title, artist_song_path(@artist, song) %></li>
  <% end %>
</ul>
