<h1><%= @song.title %></h1>
<p>by <%= link_to @song.artist.name, artist_path(@song.artist) if @song.artist %> (<%= link_to "Edit Song", edit_artist_song_path(@song.artist, @song) if @song.artist %>)</p>
